<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Local Duck Pong!</title>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <div class="app">
            <div class="sidebar">
                <h1>Duck Pong!</h1>

                <div class="card">
                    <h2>Reader Status</h2>
                    <div id="p1Reader">P1: waiting</div>
                    <div id="p2Reader">P2: waiting</div>
                </div>

                <div class="card">
                    <h2>Score</h2>
                    <div id="scoreLine">0 - 0</div>
                    <div id="duckNames">Waiting for ducks...</div>
                </div>

                <div class="card">
                    <h2>Stamina</h2>
                    <div class="label-row">
                        <span>P1</span>
                        <span id="p1StaminaText">0 / 0</span>
                    </div>
                    <div class="bar">
                        <div id="p1StaminaBar" class="fill"></div>
                    </div>

                    <div class="label-row">
                        <span>P2</span>
                        <span id="p2StaminaText">0 / 0</span>
                    </div>
                    <div class="bar">
                        <div id="p2StaminaBar" class="fill"></div>
                    </div>
                </div>

                <div class="card">
                    <h2>Message</h2>
                    <div id="messageBox">Place both ducks on the portals.</div>
                </div>

                <div class="card">
                    <h2>Controls</h2>
                    <div>P1 Move: A / D</div>
                    <div>P1 Serve: Space</div>
                    <br />
                    <div>P2 Move: ← / →</div>
                    <div>P2 Serve: Enter</div>
                </div>
            </div>

            <div class="main">
                <canvas id="gameCanvas"></canvas>
            </div>
        </div>

        <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>

        <script type="importmap">
            {
                "imports": {
                    "three": "https://unpkg.com/three@0.160.0/build/three.module.js",
                    "three/addons/": "https://unpkg.com/three@0.160.0/examples/jsm/"
                }
            }
        </script>

        <script type="module" src="/static/js/main.js"></script>
    </body>
</html>
